header,div,a,body{
		text-decoration: none;
		line-height: 55px;
	}
	header{
		background-color: #000000;
		margin: -7px;
	}
	a[href^="mailto"]{
		color:#8D7A50;
		margin-left: 10px;
	}
	a[href^="tel"]{
		display:inline-block;
		float:right;
		color:#F6F5F2;
		margin-right: 50px;
	}
	.shubh2{
		display:inline-block;
		float:right;
		margin-right:100px;
	}
	img[src^="logo"]{
		margin-left: 20px;
	}
	nav a{
		margin:0px 5px;
		color:#fff;
	}
	button{
		margin-left: 50px;
	}
.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

