header,div,a,body{
		text-decoration: none;
		line-height: 55px;
	}
	header{
		margin: -8px;
	}
	a[href^="mailto:contact"]{
		color:#8D7A50;
		margin-left: 10px;
	}
	a[href^="tel:+456"]{
		display:inline-block;
		float:right;
		color:#F6F5F2;
		padding:0px 60px;
		font-weight: bold;
		font-size:20px;
		background-color: #F09831;
	}
	.shubh{
		background-color: #000000;
	}
	.shubh span{
		position: absolute;
		margin-left: 820px;
		background-color:#fff;
		padding:0px 10px;
	}
	.shubh2{
		display:inline-block;
		float:right;
		margin-right:100px;
	}
	.shubh1{
		background-color: rgba(4,4,4,0.7)
	}
	.qwe{
		margin-top: 5px;
		margin-left: 20px;
	}
	img[src^="shubh"]{
		width: 100%;
		margin-left: -7px;
		margin-right:-10px;
	}
	nav a{
		margin:0px 5px;
		color:#fff;
	}
	button{
		margin-left: 50px;
	}
	.pict{
		background-image: url("hero1.jpg");
		position:absolute;
		height:90%;
		width:100%;
		margin-left: -8.5px;
		background-repeat: no-repeat;
	}
.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}
.div12{
	background-image: url("hero3.jpg");
	background-repeat: no-repeat;
	position: absolute;
	margin-top:576px;
	width: 100%;
	height: 35%;
	margin-left: -8px;
}
.div13{
	background-color: #A66602;
	width:35%;
	color:#fff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin-top:175px;
	margin-left: 33%;
}
.fieldi{
	position: absolute;
	margin-top: 810px;
	margin-left: 5%;
    width:90%;
   height:40%;
    border: 2px groove (internal value);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
select{
	width:20%;
	padding:10px;
	margin:20px;
	font:18px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bas{
	width:22%;
	padding:12px;
}
.resize{
	width:15%;
}
.slide1{
	width:18%;
	margin-left:5px;

}
button[type^="bu"]{
	float:right;
	margin-top:30px;
	padding:25px;
	width:15%;
	color:#fff;
	background-color: #A66602; 
	font:bold 15px/10px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.filt{
	float:left;
	margin-top: 40px;
}
.feat{
	position: absolute;
	margin-top: 1200px;
	left:35%;
}
.feat h1{
	font:bold 30px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 25px;
}
.feat p{
	margin-top: 10px;
	font:italic bold 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: -50px;
	color:#A66602;
}
.flex-container {
	position: absolute;
	margin-top:1400px;
  display: flex;
  flex-wrap:wrap;
  margin-left: 100px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 360px;
  margin: 20px;
  text-align: center;
  line-height: 500px;
  font-size: 30px;
  border:2px solid grey;
}
.fdiv{
	background-image: url("feature1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.sdiv{
	background-image: url("feature2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.tdiv{
	background-image: url("feature3.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.fodiv{
	background-image: url("feature4.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.fidiv{
	background-image: url("feature5.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.sidiv{
	background-image: url("feature6.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
h5{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	text-align: left;
	padding:15px;
	margin-left: 15px;
}
.lkj{
margin-top:-510px;
font-size:18px;
color:#C16421;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
background-image: url("location.png");
background-repeat: no-repeat;
background-position: 10% 50%;
}
.asd p{
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	opacity: 0.6;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: -230px;
}
.pipe{
	margin-right: 70px;
	margin-top: 100px;
}
.pipe p{
	display:inline-block;
	width:10px;
	font-size:16px;
	font-weight: bold;
	opacity: 0.6;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}
.pipe img{
	display: inline-block;
	width:30px;
	height:30px;
	margin-left:15px;
}
.koi{
	display:inline-block;
	position:absolute;
	padding:0px 30px;
	color:#fff;
	font-size:20px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #875416;
	margin-left: -160px;
	margin-top: 16px;
	
	}

.bhi{
	display:block;
	padding:2px 45px;
	position:absolute;
	color:#875416;
	font-weight: bold;
	margin-top: 180px;
	margin-left: 26px;
	background-color: #fff;
}
.look img{
	display: inline-block;
	position: absolute;
	margin-top: 2800px;
	width: 100%;
	height:650px;
	margin-left: -10px;
}
.look1{
	position: absolute;
	margin-top: 2950px;
	left:25%;
}
.look1 h1{
	color:#fff;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	margin-left: -50px;
}
.look1 h2{
	color: #fff;
	line-height: 0px;
	font-size:25px;
	margin-left: 30px;
	font-style: italic;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.look1 button{
	color: #fff;
	border: none;
	padding:10px 60px;
	font-weight: bold;
	font-size: 18px;
	background-color: #875416;
	margin-top: 70px;
	margin-left: 300px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.flex-container1 {
	position: absolute;
	
	margin-top:3700px;
  display: flex;
  flex-wrap:wrap;
    margin-left: 80px;
}

.flex-container1  div {
 
  width: 350px;
  margin: 20px;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  margin-top:100px;
}
.newdiv{
	position: absolute;
	margin-top:3550px;
    margin-left: 200px;
}
.newdiv h1{
	display: block;
	text-align: center;
    margin:0 auto;
    font-size:35px;
    margin-left: 230px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity:0.8;
}
.newdiv h3{
	display:block;
	margin:0 auto;
	margin-left: 240px;
	font-size:18px;
	font-style: italic;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#A66602;
	opacity:0.8;
	margin-top: -70px;
}
.perfect h5{
	display:inline-block;
	text-align: center;
	opacity:0.6;
	font-size: 20px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.perfect p{
	display:inline-block;
	text-align: center;
	opacity:0.6;
	line-height: 30px;
	font-size: 14px;
	font-weight:bold;
	margin-top: -20px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}
.shubham img{
	border-radius: 50%;
	width:30%;
	height:30%;
	margin-left: -45px;
	margin-top: -60px;
} 
.perfect1 h3{
	display:inline-block;
	text-align: center;
	font-size: 30px;
	margin-top: -50px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.perfect1 p{
	display:inline-block;
	text-align: center;
	opacity:0.6;
	line-height: 30px;
	font-size: 18px;
	font-weight:bold;
	margin-top:30px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}
.shubham1 img{
	border-radius: 50%;
	width:30%;
	height:30%;
	margin-left: -20px;
	margin-top: -50px;
}
.npara{
	display: inline-block;
	margin-top: -50px;
	margin-left: -45px;
}
.npara span{
	color:#A66602;
}
.npara1 span{
	color:#A66602;
}
.nsect{
	position: relative;
	margin-top: 4500px;
	background-color: #D5F3F2;
	padding:10px;
	margin-left: -10px;
	background-image: url("editor.jpg");
	background-size:700px 700px;
	background-repeat: no-repeat;
	background-position: 100% 20%;
}
.ptag{
	width:40%;
	margin-left:20px;
	line-height: 35px;
	font-weight: bold;
	font-size:16px;
	color:#9D6C6C;
	opacity:0.8;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
.jer{
	margin-left: 20px;
	
}
.jer img{
	margin-top: 20px;
	margin-left: 11px;

}
.jer h3{
	margin-top: -20px;
	font-weight: bold;
	font-size:28px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-stretch: 40px;
}
.jer p{
	margin-top: -50px;
	margin-left: 11px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	color:#A66602;
}
a[href^="mailto:office"]{
		color:#000;
		margin-left: 10px;
		opacity: 0.7;
	}
	a[href^="tel:+466"]{
		display:inline-block;
		color:#000;
		margin-left: 10px;
		opacity:0.7;
	}
	.mov{
		margin-top: -60px;
	}
	.sign img{
		margin-left: 30px;
	}

	.divi{
		
        width: 110%;
        height: 650px;
        margin-left: -10px;
  		background-size: 100% 100%;
		background-image: url("cta.jpg");
	}
	.clo{
		width:110%;
		height:650px;
		background-color: rgba(7,7,7,0.9);
	}
	/*.about{
		margin-left:80px;
	}
	.iou h1{
		color:#fff;
		text-decoration: underline;
		font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.ium{
		width:20%;
		height:200px;
		margin-top: 100px;

	}
	.net img{
		margin-top: 30px;
		height: 50px;
		margin-left: -5px;
	}
	.about p{
		color:#F6D7BE;
		font-size:18px;
		font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 35px;
	}*/
	.navi{
		width:80%;
		margin-left: 100px;
	}
	.navi h1{
		width:22%;
		font-size:22px;
		text-decoration: underline;
		display:inline-block;
		color:#C0C0C0;
		font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
		text-decoration-color: #A66602;
		text-underline-position: 20%;
	}
	.navig{
		margin-top: -20px;
	}
	.fot{
		float:right;
		margin-right: 350px;
		font-size:15px;
		font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.ewq{
		margin-left: 70px;
	}

	.flex-container3 {
	position: absolute;
  display: flex;
  flex-wrap:wrap;
  margin-left: 50px;
}
.flex-container3  div {
 
  width: 270px;
  margin-left: 20px;
  text-align: center;
  font-size: 30px;
  margin-top:100px;
}
.ldil img{
	float:left;
	padding-bottom:10px;
}
.ldil p{
	clear:both;
	font-size:16px;
	color:#C0C0C0;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 30px;
    text-align:left;
    padding-top:20px;
}
.posit h6{
	border-bottom: 2px solid #C0C0C0;
	margin-top: -20px;
	font-size:16px;
	text-align:left;
	color:#C0C0C0;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.posit p{
	font-size:16px;
	margin-top:-13px;
	float:left;
}
.baol{
	color:#C0C0C0;
	margin-left:10px;
	margin-top:5px;
	line-height: 20px; 
}
.thirddiv{
	margin-top:  -55px;
}
.thirddiv p{
	text-align:left;
	color:#C0C0C0;
	font-size:18px;
	margin-top: -22px;
}
.thirddiv span{
	clear:both;
	float:right;
}
.iopu img{
	width:100%;
	height:400px;
}
.cric{
	margin-top:528px;
	background-color: rgba(7,7,7,0.7);
}
.cric p{
	text-align:center;
	color:#C0C0C0;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: -200px;
	font-weight: bold;
}